extends textex, snippets      # general snippets & environments
extends texmath, snippets     # math environments
extends mathsymb, snippets    # math symbols
extends greek, snippets       # shortcuts for greek letters
extends beamer, snippets      # beamer environments & templates

# extends article, snippets     # article template
# extends report, snippets      # report template 
# extends letter, snippets      # letter template
# extends curriculum, snippets  # resume template
