extends textex      # general snippets & environments
extends texmath     # math environments
extends mathsymb    # math symbols
extends greek       # shortcuts for greek letters


# extends beamer      # beamer environments & templates
# extends article     # article template
# extends report      # report template 
# extends letter      # letter template
# extends curriculum  # resume template